@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent bounce scroll on mobile Safari */
body {
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: auto;
}

/* Ensure bottom nav handles safe area correctly */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
